---
import carouselData from '../data/carousel-data.json';
import Carousel from '../components/Carousel';
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "Página Inicial";
---

<MainLayout pageTitle={pageTitle}>
	<Carousel client:load slides={carouselData} />
	<main id="main">
		<br/><br/><br/><br/><br/>

		<h2 style="color:gray; margin-left: 50px;">Ainda Vazio...</h2>

		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</main>
</MainLayout>
