---
import Navigation from "./Navigation.astro";
import Hamburguer from "./Hamburguer.astro";
---

<header class="header">
    <div class="header__content">
        <div class="header__logo">
            <a href="/">
                <img 
                    class="header__logo_image"
                    src="/images/logo_light.png"
                    alt="Logótipo"
                />
            </a>
        </div>
        <div class="header__navbar">
            <Navigation />
            <Hamburguer />
        </div>
        <div class="header__socials">
            <a class="header__social header__social--facebook" href="https://www.facebook.com/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path></svg>
            </a>
            <a class="header__social header__social--whatsapp" href="https://web.whatsapp.com/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"></path></svg>
            </a>
            <a class="header__social header__social--pinterest" href="https://pt.pinterest.com/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M9.04 21.54c.96.29 1.93.46 2.96.46a10 10 0 0 0 10-10A10 10 0 0 0 12 2A10 10 0 0 0 2 12c0 4.25 2.67 7.9 6.44 9.34c-.09-.78-.18-2.07 0-2.96l1.15-4.94s-.29-.58-.29-1.5c0-1.38.86-2.41 1.84-2.41c.86 0 1.26.63 1.26 1.44c0 .86-.57 2.09-.86 3.27c-.17.98.52 1.84 1.52 1.84c1.78 0 3.16-1.9 3.16-4.58c0-2.4-1.72-4.04-4.19-4.04c-2.82 0-4.48 2.1-4.48 4.31c0 .86.28 1.73.74 2.3c.09.06.09.14.06.29l-.29 1.09c0 .17-.11.23-.28.11c-1.28-.56-2.02-2.38-2.02-3.85c0-3.16 2.24-6.03 6.56-6.03c3.44 0 6.12 2.47 6.12 5.75c0 3.44-2.13 6.2-5.18 6.2c-.97 0-1.92-.52-2.26-1.13l-.67 2.37c-.23.86-.86 2.01-1.29 2.7z"/></svg>
            </a>
        </div>
    </div>
    <div class="header__overlay" />
</header>

<script> import "@utils/mobile-navigation.js"; </script>

<style>
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        max-width: 100%;
        height: var(--header-height);
        z-index: 100;
    }
    .header__content {
        --max-width: 1400px;
        --min-margin: 50px;
        max-width: calc(var(--max-width) + 2*var(--min-margin));
        width: 100%;
        margin: auto;
        height: var(--header-height);
        padding: 0 var(--min-margin);
        display: flex;
    }
    .header__logo {
        flex: 1;
        display: grid;
        place-items: center;
        height: var(--header-height);
        margin-right: 30px;
    }
    .header__logo_image {
        object-fit: contain;
        object-position: center;
        height: 80px;
    }
    .header__navbar {
        flex: 4;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        color: white;
    }
    .header__socials {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--header-height);
        margin-left: 30px;
    }
    .header__social {
        color: white;
        padding: 4px;
    }
    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-color: black;
        display: none;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    .header__overlay.active {
        display: block;
        opacity: 0.5;
    }

</style>